.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: grafica4; }
.item6 { grid-area: grafica5; }
.item7 { grid-area: footer; }